* {
	padding: 0;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
}
body {
	background-color: SlateBlue;
	color: white;
}

.search {
	font-size: 30px;
}
input {
	padding: 2px 15px;
	border-radius: 10px;
	margin-bottom: 15px;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: black 3px solid;
}
.row {
	display: grid;
	grid-template-columns: 0.5fr 2fr 2fr 0.5fr 0.5fr 2fr 4fr 2fr 0.5fr 0.5fr;
	border: 1px solid black;
	border-right: 1px solid black;
}
.table-header {
	text-align: center;
}
.row span {
	padding: 8px 4px;
	border: 1px solid black;
	border-right: 1px solid black;
}

.hide {
	display: none;
}
.btn {
	border-radius: 10px;
	background-color: #4267b2;
}

@media only screen and (max-width: 800px) {
	body {
		font-size: 10px;
	}
	h3 {
		font-size: 10px;
	}
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border: black 3px solid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

[contenteditable="true"] {
	background-color: white;
	color: black;
}
